@import '../../../omnirio-theme';

.dashboard-container {
  .mat-form-field, table {
    width: 100%;
  }

  .mat-row {
    .mat-select {
      max-width: 50%;
    }

    &:hover {
      background-color: $primary;
      font-weight: 400;
      cursor: pointer;

      .mat-cell {
        color: $white;
      }
    }
  }

  .mat-header-row {
    th {
      &.mat-header-cell {
        background-color: $primary;
        color: $white;
        font-size: 0.9rem;
      }
    }
  }
}