@import '../../../omnirio-theme';

.dashboard-container {
  .mat-form-field, table {
    width: 100%;
  }

  .mat-row {
    &.animate-pulse {
      -webkit-animation: pulse 3s infinite;
      -moz-animation: pulse 3s infinite;
      -o-animation: pulse 3s infinite;
      animation: pulse 3s infinite;
      pointer-events: none;
    }

    .mat-select {
      max-width: 50%;
    }

    &:hover {
      background-color: $light-grey;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .mat-header-row {
    th {
      &.mat-header-cell {
        background-color: $primary;
        color: $white;
        font-size: 0.9rem;
      }
    }
  }

  .add-inventory-container {
    text-align: center;

    .add-inventory-wrapper {
      max-height: 0; 
      overflow-y: hidden;
      -webkit-transition: max-height 2s ease-in-out;
      -moz-transition: max-height 2s ease-in-out;
      -o-transition: max-height 2s ease-in-out;
      transition: max-height 2s ease-in-out;
      justify-content: center;
  
      &.animate {
        max-height: 20rem;
      }

      .button-wrapper {
        justify-content: center;
      }
    }
  }

  .edit-inventory-wrapper {
    max-height: 0; 
    overflow-y: hidden;
    -webkit-transition: max-height 2s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
    justify-content: center;

    &.animate {
      max-height: 30rem;
    }

    .button-wrapper {
      justify-content: center;
    }
  }
}