@import './omnirio-theme';
@import './animation';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dashboard-container {
  .mat-sort-header-arrow {
    color: $white;
  }
}

.mat-snack-bar-container {
  &.error {
    background-color: $warn;
  }

  &.success {
    background-color: $primary;
  }
}

.mat-error {
  white-space: pre;
}

.error {
  color: $warn;
}